<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Background Removal Application</title>
    <link rel="sytlesheet" href="styles.css">
    <script src="scripts.js"></script>
</head>
<body>
    <div id="dropZone" class="drop-zone">
        <h1>rmbg</h1>
        <form
          id="uploadForm"
          action="/"
          method="post"
          enctype="multipart/form-data"
        >
          <input id="fileInput" type="file" name="file" />
          <input type="submit" value="rm" />
        </form>
      </div>
    
</body>
</html>